h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:10px;
    border: 2px solid black;
}

.container{
    width: 400px;
    min-height: 300px;
    border:1px solid black;
    margin:30px auto;
    text-align: center;
}

input,select{
    display: block;
    width: 80%;
    margin:10px auto;
}

.danger{
    color:red;
    text-align: center;
    font-size:20px;
}
